#banner{
    background-image: url('../images/banner.jpg');
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.banner-text{
    color: #fff;
    text-align: center;
    font-size: 8vh;
}